<ActionBar title="Mip Controller" class="action-bar"> </ActionBar>

<FlexboxLayout justifyContent="center" alignItems="center" class="page" flexDirection="column">
  <GridLayout columns="auto, 150, auto" rows="auto, 150, auto">
    <button row="0" col="1" text="F" (tap)="moveForward()" class="button-rounded"></button>
    <button row="1" col="0" text="L" (tap)="turnLeft()" class="button-rounded"></button>
    <button row="1" col="1" text="A" (tap)="checkAccelerometer()" class="button-rounded button-a"></button>
    <button row="1" col="2" text="R" (tap)="turnRight()" class="button-rounded"></button>
    <button row="2" col="1" text="B" (tap)="moveBack()" class="button-rounded"></button>
  </GridLayout>

  <StackLayout style="margin-top: 100;">
    <button (tap)="disconnect()" text="" class="button-rounded button-rounded-big button-disconnect"></button>
  </StackLayout>
</FlexboxLayout>
